/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2014, 12:08:15 AM
    Author     : anton
*/

@import url(//fonts.googleapis.com/css?family=Lato:700);

		body {
			margin:0;
			font-family:'Lato', sans-serif;
			text-align:center;
			color: #999;
		}
                
		h1 {
			font-size: 32px;
			margin: 16px 0 0 0;
		}
                
       .col-sm-3.login-form {
           margin: 0 auto;
           float: none;
       }
                
       .login-form .row {
           margin: 10px 0;
       }
       

